{% extends "main/base.html" %}
{% load static %}

{%block content %}
	<link href="{% static 'main/aboutus.css' %}" rel="stylesheet">
	<div>

		<h1 class="motto"> Our Motto </h1>

		<p class="p1"> This project consists of creating a health information system using blockchain technology.
With the use of this system, patients will now be able to securely share their health records
with doctors & store these records safely without the fear of it getting misplaced or lost. </p>

	</div>
	
	<div>
		<img class="image1" src="{% static 'main/mainbg6.png' %}" alt="Image Unavailable">
	</div>

{% endblock content %}