{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Yinka Enoch Adedokun">
	<link href="{% static 'main/login.css' %}" rel="stylesheet">
</head>

<body style="background-image:url('/static/main/mainbg3.jpg');background-size:100% 100%;background-repeat: no-repeat;">

	<!-- Main Content -->
	<div class="container-fluid">
		<div class="row main-content bg-success text-center">
			<div class="col-md-4 text-center company__info">
				<img style="height:10vw;" src="{% static 'main/HIS.jpg' %}" alt="Image Unavailable">
			</div>
			<div class="col-md-8 col-xs-12 col-sm-12 login_form ">
				<div class="container-fluid">
					<div class="row">
						<h2 style="font-size:36px;margin-top: 10px;">Log In</h2>
					</div><hr><br>
					<div class="row">
						<form method="POST">
            {% csrf_token %}
            <fieldset style="font-weight: bold;" class="form-group">
                {{ form|crispy }}
                {% if messages%}
                {% for message in messages %}
                  <span style="color:red">{{ message }}</span>
                {% endfor %}
                {% endif %}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
                <small class="text-muted ml-2">
                    <a style="font-size: 14px;" href="{% url 'password_reset' %}">Forgot Password?</a>
                </small>
            </div>
        </form>
					</div>
					<div class="row">
						<p style="padding-left:75px;margin-top:10px;color:black;">Don't have an account? <a href="{% url 'register' %}">Register Here</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>


{% endblock content %}