{% extends "main/base.html" %}
{% load static %}


{% block content %}

  <link href="{% static 'main/register.css' %}" rel="stylesheet">

  <div class="float-container text-center">
    <div class="card">
      <img src="media/patient.png" alt="Image Unavailable" style="width:100%">
        <h2 style="padding:20px;">Patient Registeration</h2>
  
          <a href="{% url 'patient_register' %}"><button>REGISTER</button>
          </a>

    </div>
  <div class="card">
    <img src="media/doctor.png" alt="Image Unavailable" style="width:100%">
      <h2 style="padding:20px;">Doctor Registeration</h2>
  
        <a href="{% url 'doctor_register' %}"><button>REGISTER</button>
        </a>

</div>
</div>

{% endblock content %}