{% extends "doctor/doctor_base.html" %}
{% load static %}

{%block content %}

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">	
	<link href="{% static 'doctor/dashboard.css' %}" rel="stylesheet">

<div>
    <br><h1>Doctor Dashboard</h1>
    <br>
    <div class="container">
    <div class="row">
        <div class="four col-md-4">
            <div class="counter-box colored"> <i class="fa fa-exchange" aria-hidden="true"></i> <span class="counter">{{patient_access}}</span>
                <p>Total Patient Access</p>
            </div>
        </div>
</div>
</div>

<div>
	<img class="image1" src="{% static 'patient/mainbg6.png' %}" alt="Image Unavailable">
</div>

</div>


{% endblock content %}