{% extends "doctor/doctor_base.html" %}
{% load static %}

{%block content %}
	
	<link href="{% static 'doctor/profile.css' %}" rel="stylesheet">
	
<br>

	<h1 style="text-align: center;font-weight: bold;">My Profile</h1>

<br>

<div class="container">
<div class="card mx-auto">

<img class="rounded-circle mx-auto" src="{{user.doctor.image.url}}" height="200px" width="200px"><br>
	<p>First Name: {{doctor.first_name}} </p>  
	<p>Middle Name:{{doctor.middle_name}} </p> 
	<p>Last Name: {{doctor.last_name}} </p>
	<p>Aadhaar Number: {{doctor.aadhaar_no}} </p>
	<p>Email ID: {{doctor.email_id}} </p>
	<p>Phone Number: {{doctor.phone_number}} </p>
</div>
</div>

{% endblock content %}