{% extends "doctor/doctor_base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{%block content %}
	
	<link href="{% static 'doctor/profile.css' %}" rel="stylesheet">
	
<br>

	<h1 style="text-align: center;font-weight: bold;">My Profile</h1>

<br>

<div class="container">
<div class="card mx-auto">

<img class="rounded-circle mx-auto" src="{{user.doctor.image.url}}" height="150px" width="150px"><br>
	<p>First Name : {{doctor.first_name}} </p>  
	<p>Middle Name :{{doctor.middle_name}} </p> 
	<p>Last Name : {{doctor.last_name}} </p>
	<p>Aadhaar Number : {{doctor.aadhaar_no}} </p>
	<p>Email : {{doctor.email_id}} </p>
	<p>Phone Number : {{doctor.phone_number}} </p>
	<p>City : {{doctor.city}} </p>
	<p>Specialization : {{doctor.specialization}} </p>

	<!-- Button trigger modal -->
	<button type="button" class="btn btn-primary mx-2 my-2" data-toggle="modal" data-target="#staticBackdrop" style="border-radius: 26px;">
		Update Profile
	</button>
</div>

	<!-- Modal -->
	<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="staticBackdropLabel">Update</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
				<form method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<fieldset class="form-group">
						{{ form|crispy }}
					</fieldset>
			</div>
			<div class="modal-footer">
			  <button type="submit" class="btn btn-primary">Update</button>
			</form>
			</div>
		  </div>
		</div>
	  </div>

</div>

{% endblock content %}