body{
    background-color: OldLace;
}

h1{
    text-align: center;
    font-weight: bold;
}

p{
    font-weight: bold;
}

.btn{
    transition: all .5s ease;
    width: 14vw;
    border-radius: 30px;
    color:#008080;
    font-weight: bold;
    background-color: OldLace;
    border: 1px solid #008080;
    margin-top: 1vw;
    margin-bottom: 1vw;
}
.btn:hover, .btn:focus{
    background-color: #008080;
    color:#fff;
}

.card {
    background: OldLace;
    color: black;
    transition: 0.3s;

    padding-top: 1vw;

    opacity: 0.8;

    text-align: center;

    border: 2px solid black;
    border-radius: 26px;
}



/* --- Media Queries --- */
@media all and (min-width: 100px) and (max-width: 480px){

.btn{
    width: 40vw;
    
    margin-top: 1vw;
    margin-bottom: 4vw;
}

.card {
    margin-left: 5vw;
    width: 90%;
}   

}

@media all and (min-width: 481px) and (max-width:768px){ 

.btn{
    width: 28vw;
    
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.card {
    margin-left: 5vw;
    width: 90%;
}

}


/* ---  --- */


@media all and (min-width: 769px) and (max-width:1024px){



}

/* ---  --- */


@media all and (min-width: 1025px) and (max-width: 1275px){



}


/* --- End of Media Queries --- */


