{% extends "patient/patient_base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{%block content %}

<link href="{% static 'patient/basic.css' %}" rel="stylesheet">
<div>
    <br>
    <h1>Basic Medical Information</h1>

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <div class="basic_form ">
                {{ basic_form|crispy }}
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">SAVE</button>
            </div>
        
            </fieldset>
            <br>
        </form>
    </div>
</div>

{% endblock content %}
