{% extends "patient/patient_base.html" %}
{% load static %}

{%block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'patient/dashboard.css' %}" rel="stylesheet">

	
    <div>    
        <br>
        <h1>Patient Dashboard</h1>
        <br>

        <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="counter-box colored"> <i class="fa fa-file" aria-hidden="true"></i> <span class="counter">{{totalreports}}</span>
                    <p>Total Reports</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="counter-box colored"> <i class="fa fa-user-md" style="font-size:60px;"> </i> <span class="counter">{{doctor_access}}</span>
                    <p> Doctors Having Access</p>
                </div>
            </div>
        </div>

        <div class="basic">
            <div>
                <u><h3>My Basic Medical Details</h3></u>
                <p class="b">Height : {{basic_data.height}}</p>
                <p class="b">Weight : {{basic_data.weight}}</p>
                <p class="b">Blood Group : {{basic_data.blood_group}}</p>
                <p class="b">Allergies : {{basic_data.allergies}}</p>
                <p class="b">Operations : {{basic_data.operations}}</p>
            </div>
        </div>
        </div>

    </div>

    <div>
        <img class="image1" src="{% static 'patient/mainbg6.png' %}" alt="Image Unavailable">
    </div>

{% endblock content %}
