{% extends "patient/patient_base.html" %}
{% load static %}

{%block content %}
	
	<link href="{% static 'patient/profile.css' %}" rel="stylesheet">

<br>

	<h1 style="text-align: center;font-weight: bold;">My Profile</h1>

<br>

<div class="container">
	<div class="card mx-auto">
		<img class="rounded-circle mx-auto" src="{{user.patient.image.url}}" height="175px" width="175px"><br>
		<p>First Name: {{patient.first_name}} </p>
		<p>Middle Name: {{patient.middle_name}} </p>
		<p>Last Name: {{patient.last_name}} </p>
		<p>Aadhaar Number: {{patient.aadhaar_no}} </p>
		<p>Email ID: {{patient.email_id}} </p>
		<p>Phone Number: {{patient.phone_number}} </p>
	</div>
</div>
{% endblock content %}