{% extends "patient/patient_base.html" %}
{% load static %}
{%block content %}    
    <link href="{% static 'patient/revoke_doctor.css' %}" rel="stylesheet">
<br>
<h1> Revoke Doctor Access Here </h1>

<br>

{% for doc in doctors %}
  
  <form method="POST" action="{% url 'revoke_access' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="column">
      <div class="cotainer-fluid">
  <div class="card">
    <img src="/media/{{doc.image}}" class="card-img-top mx-auto" alt="..." >
    <div class="card-body mx-auto">
      <h5 class="card-title">Name : {{doc.first_name}} {{doc.middle_name}} {{doc.last_name}}</h5>
      <p class="card-text">Email : {{doc.email_id}}</p>
      <input type="hidden" name="email_id" id="email" value="{{doc.email_id}}">
      <p class="card-text">Specialization : {{doc.specialization}}</p>
      <p class="card-text">City : {{doc.city}}</p>
      <p class="card-text">Phone Number : {{doc.phone_number}}</p>
      <input type="submit" class="btn btn-primary" value="Revoke Access">
    </div>
  </div> </div> </div>
  </form>
{% endfor %}

{% endblock content %}