{% extends "patient/patient_base.html" %}
{% load static %}
{%block content %}
<br>
<div class="col-md-5">
<form method='post' action="{% url 'patient_upload_report' %}" enctype="multipart/form-data">
  {% csrf_token %}
  File name : <input type="text" name='file_name' class='form-control'>
  <br>
  Select file : <input type='file' name='file' class='form-control' id="report_file"><br>
  <input type='submit' class='btn btn-info' >
</form>
</div>

<img src="" id="reportimg">
<iframe src="" id="reportpdf" width="50%" height="600px"></iframe>

{% endblock content %}