{% extends "patient/patient_base.html" %}
{% load static %}
{%block content %}
<link href="{% static 'patient/upload_report.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
<br>

<h1> <i class="fa fa-upload" aria-hidden="true"></i> Upload Report </h1>

<br><br><br>
<div class="row">
<div class="col-md-5 col-sm-12">
<form method='post' action="{% url 'patient_upload_report' %}" enctype="multipart/form-data">
  {% csrf_token %}
  <p> File name : </p> <input type="text" name='file_name' class='form-control' id="file_name">
  <br>
  <p> Select file : </p> <input type='file' name='file' class='form-control' id="report_file"><br>
  <input type='submit' class='btn btn-info' >
</form>
</div>

	<div>
        <img class="image1" src="{% static 'patient/upload.png' %}" alt="Image Unavailable">
    </div>

<div class="col-md 7 col-sm-12">
  <img src="" id="reportimg" width="800px" height="700px">
<iframe src="" id="reportpdf" width="800px" height="700px"></iframe>
</div>
</div>

{% endblock content %}