body{
  background-color: AntiqueWhite;
}


h1{
	text-align: center;
	font-weight: bold;
}


.btn{
    transition: all .5s ease;
    border-radius: 30px;
    color:#008080;
    font-weight: bold;
    background-color: AntiqueWhite;
    border: 1px solid #008080;
}
.btn:hover, .btn:focus{
    background-color: #008080;
    color:#fff;
}


.card {
	background: AntiqueWhite;
	color: black;
  	transition: 0.3s;

  	padding-top: 1vw;

	opacity: 0.8;

	text-align: center;

	border: 2px solid black;
	border-radius: 26px;
}



/* --- Media Queries --- */

@media screen and (min-width: 481px) and (max-width:768px){	


}


/* ---  --- */


@media screen and (min-width: 769px) and (max-width:1024px){


}

/* ---  --- */


@media screen and (min-width: 1025px) and (max-width: 1300px){



}


/* --- End of Media Queries --- */
