.homepage{
	height: 100%;
}

.imgbg{
	background-image:url('/static/main/imgbg.jpg');
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
}


#heading{
	height: 100%;
	font-size: 60px;
	color: white;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	background-color: rgba(0,0,0,.5) !important;
}

.item{
	width: 100%;
	flex: 100%;
}

#footer{
	position: fixed;
	bottom: 0;
}

.navbar{
    background-color: rgba(0,0,0,.0) !important;
}

a:hover {
	opacity: 0.7;
  }

.counter-box {
    display: block;
}

.counter-box p {
    font-size: 18px;
    font-weight: 500;
}

.counter-box i {
    font-size: 70px;
}

.counter {
    display: block;
    font-size: 32px;
    font-weight: 700;
    line-height: 28px
}


.counter-box.colored {
    background: transparent;
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
    color: white;
}


/* --- Media Queries --- */

@media all and (min-width: 100px) and (max-width: 480px){

.p1{
	font-size: 20px;
}

}

@media all and (min-width: 481px) and (max-width:768px){	

.p1{
	font-size: 24px;
}

}


/* ---  --- */


@media all and (min-width: 769px) and (max-width:1024px){


}

/* ---  --- */


@media all and (min-width: 1025px) and (max-width: 1275px){



}


/* --- End of Media Queries --- */