
.p1{
	color: black;
	font-size: 3.0vw;
	font-weight: bold;
	margin-top: 3vw;
	text-align: center;
}

.image1{
	height: 25vw;
	margin-left: 60vw;

	margin-top: -32vw;

	opacity: 0.9;

	border : 2px solid red;
	border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
}


ul{
	padding-top:1vw;
	padding-bottom:1vw;
	background: linear-gradient(to top right, #0000cc 0%, #ccccff 100%);
	margin-right: 40vw;
	opacity: 0.8;

	border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
}

li{
	color: black;
	font-size: 26px;
}

.card1 {
	background: linear-gradient(to bottom, #6699ff 0%, #cc33ff 100%);
	color: black;
  	transition: 0.3s;
  	 
  	width: 40%;
  	margin-left: 5vw;
	opacity: 0.8;
}

.card2 {
	background: linear-gradient(to bottom, #6699ff 0%, #cc33ff 100%);
	color: black;
  	transition: 0.3s;
  	 
  	width: 40%;
  	margin-left: 50vw;
  	margin-top: -30vw;
  	opacity: 0.8;	
}

.card3 {
	background: linear-gradient(to bottom, #6699ff 0%, #cc33ff 100%);
	color: black;
  	transition: 0.3s;
  	 
  	width: 40%;
  	margin-left: 5vw;
	opacity: 0.8;
}

.card4 {
	background: linear-gradient(to bottom, #6699ff 0%, #cc33ff 100%);
	color: black;
  	transition: 0.3s;
  	 
  	width: 40%;
  	margin-left: 50vw;
  	margin-top: -24vw;
  	opacity: 0.8;	
}

p{
	font-size: 20px;
}


.container {
    margin-top: 7vw;
}

.counter-box {
    display: block;
    background: #f6f6f6;
    padding: 40px 20px 37px;
    text-align: center
}

.counter-box p {
    margin: 5px 0 0;
    padding: 0;
    color: #909090;
    font-size: 18px;
    font-weight: 500
}

.counter-box i {
    font-size: 70px;
    margin: 0 0 15px;
    color: #d2d2d2
}

.counter {
    display: block;
    font-size: 32px;
    font-weight: 700;
    color: #666;
    line-height: 28px
}

.counter-box.colored {
    background: transparent;
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
    color: black;
}


/* --- Media Queries --- */

@media screen and (min-width: 481px) and (max-width:768px){	

	.image1{
	margin-top: -52vw;
}

	ul{
	padding-top:1vw;
	padding-bottom:1vw;
	margin-right: 40vw;
}
	li{
	color: black;
	font-size: 14px;
}

.card2 {
  	 
  	width: 40%;
  	margin-left: 50vw;
  	margin-top: -110vw;
  	opacity: 0.8;	
}

.card4 {
  	 
  	width: 40%;
  	margin-left: 50vw;
  	margin-top: -70vw;
  	opacity: 0.8;	
}
}


/* ---  --- */


@media screen and (min-width: 769px) and (max-width:1024px){

	.image1{
	margin-top: -50vw;
}

	ul{
	padding-top:1vw;
	padding-bottom:1vw;
	margin-right: 40vw;
}
	li{
	color: black;
	font-size: 18px;
}

.card2 {
  	 
  	width: 40%;
  	margin-left: 50vw;
  	margin-top: -65vw;
  	opacity: 0.8;	
}

.card4 {
  	 
  	width: 40%;
  	margin-left: 50vw;
  	margin-top: -48vw;
  	opacity: 0.8;	
}

}

/* ---  --- */


@media screen and (min-width: 1025px) and (max-width: 1200px){
		.image1{
	margin-top: -30vw;
}

	ul{
	padding-top:1vw;
	padding-bottom:1vw;
	margin-right: 40vw;
}
	li{
	color: black;
	font-size: 18px;
}

.card2 {
  	 
  	width: 40%;
  	margin-left: 50vw;
  	margin-top: -50vw;
  	opacity: 0.8;	
}

.card4 {
  	 
  	width: 40%;
  	margin-left: 50vw;
  	margin-top: -38vw;
  	opacity: 0.8;	
}
}


/* --- End of Media Queries --- */
