body{
  background-color: lightcyan;
}

.float-container {
    padding: 4vw;
}

.card {
    width: 25vw;
    float: left;
    padding: 1.6vw;
	margin-left: 12vw;
    border: 2px solid black;
	opacity: 0.71;
  border-radius: 30px;
} 


button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 0.6vw;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 21vw;
  font-size: 18px;
  border-radius: 30px;
}

a {
  text-decoration: none;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}


/* --- Media Queries --- */

@media all and (min-width: 100px) and (max-width: 480px){

  .float-container {
    padding-top: 10vw;
    padding-left: 0vw;
}

.card {
    width: 40vw;
    padding: 1.6vw;
    margin-left: 2vw;
}

button {
  width: 30vw;
  
}

a {
  text-decoration: none;
  color: black;
}

h2{
  font-size: 18px;
}


}



@media all and (min-width: 481px) and (max-width:768px){ 

  .float-container {
    padding-top: 10vw;
    padding-left: 0vw;
}

.card {
    width: 37vw;
    padding: 1.6vw;
    margin-left: 6vw;
}

button {
  width: 26vw;
  
}

a {
  text-decoration: none;
  color: black;
}

h2{
  font-size: 18px;
}

}

/* ---  --- */

@media all and (min-width: 769px) and (max-width:1024px){

    .float-container {
    padding-top: 6vw;
    padding-left: 0vw;
}

.card {
    width: 30vw;
    padding: 1.6vw;
    margin-left: 12vw;
}

button {
  width: 26vw;
  
}

a {
  text-decoration: none;
  color: black;
}

h2{
  font-size: 26px;
}

}

/* ---  --- */

@media all and (min-width: 1025px) and (max-width: 1275px){

  .float-container {
    padding-top: 5vw;
    padding-left: 0vw;
}

.card {
    width: 30vw;
    padding: 1.6vw;
    margin-left: 12vw;
}

button {
  width: 26vw;
  
}

a {
  text-decoration: none;
  color: black;
}

h2{
  font-size: 26px;
}


}


/* --- End of Media Queries --- */